<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="warn" name="MyApp">
	<Appenders>
		<File name="appFileLog" fileName="log/app.log">
			<PatternLayout pattern="%d{yyyy-MM-dd HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n" />
		</File>
		<File name="mqttFileLog" fileName="log/mqtt.log">
			<PatternLayout pattern="%d{yyyy-MM-dd HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n" />
		</File>		
		<Console name="Console" target="SYSTEM_OUT">
			<PatternLayout pattern="%d{yyyy-MM-dd HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n" />
		</Console>
	</Appenders>
	<Loggers>
		<root level="debug">
			<appender-ref ref="Console" level="info" />
			<appender-ref ref="appFileLog" level="info" />
		</root>
		<logger name="mqttFileLog">
			<appender-ref ref="mqttFileLog" level="info" />
		</logger>
	</Loggers>
</Configuration>